html, body {
    width: 100%;
    height: 100%;
    background-color: #FF8001;
    font-family: 'Courier New', Courier, monospace;
}


.jumbotron {
  background-image: url(../img/tileable_wood_texture.png);
  text-align: center;
  font-family: 'Wendy One', sans-serif;
  font-size: 34px;
}

#title {
  color: chocolate;
  width: 100%;
  display:inline-block;
  border-radius: 10px;
  background-color: lightblue;
  padding: 5px;
  padding-bottom: 10px;
}

#title:hover{
  border : 2px solid grey;
  box-shadow: 9px 10px #888888;  
  font-weight: bold;
}

@media only screen and (max-width : 992px) {
    html, body {
    height: 150%;
    }  
  }

  @media only screen and (max-width : 768px) {
    html, body {
    height: 200%;
    }
  }